body {
    background-color:cadetblue;
    position: absolute;
}
button1{
    font-size: 500%;
    width: 1000px;
}
.sağ{
    position: absolute;
    left: 250px;
}


img{
    margin-top: 100px;
    margin-left: 2px;
    width: 870px;
    height: 370px;
}